/*Importing Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

/* ------ (START) General resets and setting CSS variables ------- */
html {
    /* Font Props*/
    font-family: "Roboto Slab", serif;
    --font-wt--logo: 700;
    --font-wt--text: 400;

    /* Color swatch in HSLA */
    --color--bg--100: hsla(202, 70%, 14%, 1);
    --color--bg--200: hsla(185, 57%, 22%, 0.5);
    --color--bg--400: hsla(191, 60%, 46%, 1);
    --color--accent--100: hsla(45, 89%, 54%, 1);
    --color--accent--200: hsla(39, 36%, 47%, 1);
    --color--font--100: rgb(235, 234, 233);

    /* Global Resets*/
    margin: 0;
    padding: 0;
}

/* Global Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
p {
    margin: 0;
}

body {
    /* Default Font properties */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--color--bg--100);
}

/* Default List style*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Stops animation while window is resized */
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

a:-webkit-any-link {
    text-decoration: none;
    color: var(--color--font--100);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--color--font--100);
    text-decoration: none;
}
img {
    overflow: hidden;
    object-position: center;
}

/* ------ (END) General resets and setting CSS variables ------- */

header {
    grid-area: header;
    background-color: var(--color--bg--200);
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: var(--color--bg--200);
}
/*Grid utility to arrange search, favorites, comics and series results.*/
.grid-view {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*bgColor, border-radius, and box shadow utility. Gives the card look to superhero list items. */
.bg--color--border-radius--shadow {
    background-color: var(--local--bg-color);
    border-radius: var(--local-border-radius, 5px);
    box-shadow: 0px 0px var(--local-boxShadow-blur, 5px) var(--local-boxShadow-radius, 5px)
        var(--local-boxShadow-color, rgba(47, 47, 47, 0.259));
    margin: var(--local-margin, 5px);
    padding: var(--local-padding, 5px);
    min-height: 5rem;
}

/*Text utility classes*/
.l1-heading {
    font-size: 1.5rem;
    font-weight: var(--font-wt--logo);
}
.l2-heading {
    font-size: 1rem;
    font-weight: var(--font-wt--logo);
}
.l1-text {
    font-size: 1.5rem;
}
.l2-text {
    font-size: 1rem;
}
.l3-text {
    font-size: 0.85rem;
    text-align: right;
}
.center {
    text-align: center;
}

/* Animation Effects Utilities */
.fx-fade-in {
    opacity: var(--local--pre-fade-in--opacity, 1);
    background-color: var(--local--pre-fade-in--bgcolor);
    transition: var(--local--fadein--duration, 0.3s) ease-in-out;
}
.fx-fade-in:hover,
.fx-fade-in:focus {
    opacity: var(--local--post-fade-in--opacity, 1);
    background-color: var(--local--post-fade-in--bgcolor, var(--color--bg--400));
}
.fx-magnify {
    transform-origin: top;
    transform: scale(var(--local-pre-magnify--scale-x, 1), var(--local-pre-magnify--scale-y, 1));
    transition: var(--local--fadein--duration, 0.3s) ease-in-out;
}
.fx-magnify:hover {
    transform-origin: top;
    transform: scale(var(--local-post-magnify--scale-x, 1.05), var(--local-post-magnify--scale-y, 1.05));
}

/*Miscellaneous*/
.hidden {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

#section-searchbar {
    --local--pre-fade-in--bgcolor: var(--color--accent--100);
    --local--post-fade-in--bgcolor: var(--color--bg--400: );
}
