/*Only used for SuperHero info page. Not used on Favorites or Search page.*/

/*Responsive mobile first view, where single column layout by default, 
but on wider screens, 2 column layout.*/
body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-areas:
        "header header        header"
        "..      hero-info-div ..     "
        "..      comics-info   ..     "
        "..      series-info   ..     "
        "footer footer        footer";
}
/*On wider screens, 2 column layout.*/
@media (min-width: 700px) {
    body {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1rem 1fr 1fr 1rem;
        grid-template-areas:
            "header header        header    header"
            "..      hero-info-div hero-info-div .."
            "..      comics-info   series-info .."
            "footer footer        footer    footer";
    }
}

/*Associating grid areas with sections.*/
.hero-info-div {
    grid-area: hero-info-div;
}
.comics-info {
    grid-area: comics-info;
    --local--post-fade-in--bgcolor: var(--color--bg--200);
}
.series-info {
    grid-area: series-info;
    --local--post-fade-in--bgcolor: var(--color--bg--200);
}
